<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <h1 v-if="awesome">Vue is awesome!</h1>
    <h1 v-else>Oh no</h1>
  </div>

  <div id="app-2">
    <template v-if="ok">
      <h1>Title</h1>
      <p>Paragraph 1</p>
      <p>Paragraph 2</p>
    </template>
  </div>

  <div id="app-3">
    <div v-if="Math.random() > 0.5">
      Now You see me
    </div>
    <div v-else>
      Now you don't
    </div>
  </div>

  <div id="app-4">
    <div v-if="type === 'A'">
      A
    </div>

    <div v-else-if="type === 'B'">
      B
    </div>

    <div v-else-if="type === 'C'">
      C
    </div>

    <div v-else>
      Not A/B/C
    </div>
  </div>

  <div id="app-5">
    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username">
    </template>

    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address">
    </template>

    <button @click="toggle">Toggle login type</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>